 <link rel="stylesheet" href="/static/menu.css">



<div class="sidebar-offcanvas" id="sidebar" role="navigation">
    <ul class="left-menus">
            <li class="nav-item"><a class="nav-link" href="dashboard"><strong>Dashboard</strong></a></li>
            <li class="nav-item"><a class="nav-link" href="doctor"><strong>Doctors</strong></a></li>
            <li class="nav-item"><a class="nav-link" href="patient"><strong>Patients</strong></a></li>
            <li class="nav-item"><a class="nav-link" href="appointment"><strong>Appointments</strong></a></li>	
    </ul>
</div>


